<%= render "shared/content_title", title: "New category" %>
<%= render "shared/errors", error_obj: @category %>
<div class="well span8">
  <%= form_for @category do |f| %>
    <div class="control-group">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <%= f.submit "Create category", class: "btn btn-success" %>
  <% end %>
</div>